extends ./layout.jade

block content
    main.flex-shrink-0(role='main')
        .container.mt-3
            h1.mt-5.pt-5.text-center= title
            h2.text-center= message
            p.lead
                | Take Off!
                | A fixed navbar has been added with 
                code padding-top: 60px;
                |  on the
                code main > .container
            .row(data-ng-controller='priceController')
                .col-xs-3
                    input.form-control(data-ng-model='yourPrice')
                    hr
                    p My Price: {{calcOwnPrice(yourPrice) | currencyFilter: 'CHF'}}   
                    p Your Price: {{calcOtherPrice(yourPrice) | currencyFilter}}   
                    p Full Price: {{yourPrice | currencyFilter: 'HUF'}}   
                    //- p Full Price: {{calcFullPrice(yourPrice) | currencyFilter: 'HUF'}}   
                    p {{yourPrice}}
            .row(data-ng-controller='userController')
                .col-xs-9
                    include ./userTable.jade
            .row.col-xs-9
                ul.mt-5
                    each user in users
                        li.mb-5 id: #{user.id}: name: #{user.name}, email: #{user.email}, #{user.job}
